BASE_DOMAIN: "http://localhost:3000"
DB_USER: "<-DATABASE USER_NAME->"
DB_NAME: "<-DATABASE_NAME->"
DB_PASSWORD: "<-DATABASE_PASSWORD->"
CLOUDFLARE_BASE_URL: "<-CLOUDFLARE_BASE_URL->"
CLOUDFLARE_API_KEY: "<-CLOUDFLARE_API_KEY->"
HETZNER_BASE_URL: "<-HETZNER_BASE_URL->"
HETZNER_API_KEY: "<-HETZNER_API_KEY->"
CLOUDFLARE_BASE_URL: "<-CLOUDFLARE_BASE_URL->"
CLOUDFLARE_API_KEY: "<-CLOUDFLARE_API_KEY->"
SSH_KEYS_NAME: "<-SSH_KEYS_NAME->"
CLOUDFLARE_REGISTRAR_NAME: "<-CLOUDFLARE_REGISTRAR_NAME->"
CLOUDFLARE_REGISTRAR_EMAIL: "<-CLOUDFLARE_REGISTRAR_EMAIL->"
CLOUDFLARE_REGISTRAR_ADDRESS: "<-CLOUDFLARE_REGISTRAR_ADDRESS->"
CLOUDFLARE_REGISTRAR_PHONE: "<-CLOUDFLARE_REGISTRAR_PHONE->"